In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("/home/nicolas/projects/llm-disjointness/pairs.csv", header=0, names=["c1", "c2", "disjoint"])
df["reason"] = df.disjoint.apply(lambda x: x if pd.isna(x) else eval(x)[1])
df["disjoint"] = df.disjoint.apply(lambda x: x if pd.isna(x) else eval(x)[0])

In [20]:
df[df["disjoint"].notna() & (df["disjoint"] == False)]

,c1,c2,disjoint,reason
1467,http://dbpedia.org/ontology/NaturalEvent,http://dbpedia.org/ontology/StormSurge,False,common subclasses
1525,http://dbpedia.org/ontology/NaturalEvent,http://dbpedia.org/ontology/SolarEclipse,False,common subclasses
5826,http://dbpedia.org/ontology/TimePeriod,http://dbpedia.org/ontology/YearInSpaceflight,False,common subclasses
5842,http://dbpedia.org/ontology/TimePeriod,http://dbpedia.org/ontology/Year,False,common subclasses
11742,http://dbpedia.org/ontology/AnatomicalStructure,http://dbpedia.org/ontology/BloodVessel,False,common subclasses
...,...,...,...,...
312254,http://dbpedia.org/ontology/MicroRegion,http://dbpedia.org/ontology/PopulatedPlace,False,common subclasses
312255,http://dbpedia.org/ontology/HistoricalRegion,http://dbpedia.org/ontology/PopulatedPlace,False,common subclasses
312256,http://dbpedia.org/ontology/HistoricalAreaOfAu...,http://dbpedia.org/ontology/PopulatedPlace,False,common subclasses
312257,http://dbpedia.org/ontology/AdministrativeRegion,http://dbpedia.org/ontology/PopulatedPlace,False,common subclasses
312258,http://dbpedia.org/ontology/AcademicSubject,http://dbpedia.org/ontology/TopicalConcept,False,common subclasses

In [35]:
print(df.groupby(["reason", "disjoint"]).sample(2).to_latex(index=False))

\begin{tabular}{llll}
\toprule
c1 & c2 & disjoint & reason \\
\midrule
http://dbpedia.org/ontology/Device & http://dbpedia.org/ontology/Instrument & False & common subclasses \\
http://dbpedia.org/ontology/OrganisationMember & http://dbpedia.org/ontology/SportsTeamMember & False & common subclasses \\
http://dbpedia.org/ontology/Person & http://dbpedia.org/ontology/UnitOfWork & True & ontologically disjoint \\
http://dbpedia.org/ontology/HistoricalPeriod & http://dbpedia.org/ontology/PrehistoricalPeriod & True & ontologically disjoint \\
http://dbpedia.org/ontology/BowlingLeague & http://dbpedia.org/ontology/wgs84_pos:SpatialThing & True & subclass of ontologically disjoint \\
http://dbpedia.org/ontology/AcademicConference & http://dbpedia.org/ontology/Person & True & subclass of ontologically disjoint \\
\bottomrule
\end{tabular}

In [4]:
df.reason.unique()

array([nan, 'subclass of ontologically disjoint', 'common subclasses',
       'ontologically disjoint'], dtype=object)

In [10]:
print(df[df.reason == "ontologically disjoint"].sample(5).iloc[:, :2].to_latex())

\begin{tabular}{lll}
\toprule
 & c1 & c2 \\
\midrule
311657 & http://dbpedia.org/ontology/Person & http://dbpedia.org/ontology/ProtohistoricalPeriod \\
311687 & http://dbpedia.org/ontology/Person & http://dbpedia.org/ontology/UnitOfWork \\
277609 & http://dbpedia.org/ontology/Agent & http://dbpedia.org/ontology/Place \\
112115 & http://dbpedia.org/ontology/Fish & http://dbpedia.org/ontology/Mammal \\
106842 & http://dbpedia.org/ontology/Event & http://dbpedia.org/ontology/Person \\
\bottomrule
\end{tabular}